<html>
	<head>
		<title> practice </title>
		<link href="css/jquery-ui.min.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">

	</head>

	<style>
		.col-xs-2{
			height: 200px;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 40px;
			background: #c1e2b3;
		}
		.custom-text-area{
			width: 100%;
			height: 80%;
			margin-top:5px
		}

	</style>

	<body>
		<div id="root">
			<p>hello</p>
			<!--<input  type="text" v-model="new_name"/>-->
			<!--<button  title="yo" @click="addName" type="submit">submit</button>-->
			<!--<p  id="name_input"> hello world</p>-->
			<!--<div id="list">-->
				<!--<p  v-for="name in names">{{name}} </p>	-->
			<!--</div>-->
		</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2">
				<textarea disabled class="custom-text-area">This is a notes app</textarea>
				<button title="archive the note" class="glyphicon glyphicon-saved "></button>
				<button title="new note" class="glyphicon glyphicon-plus-sign "></button>
				<button disabled title="delete this note" class="glyphicon glyphicon-minus-sign "></button>
				<button title="reset this note" class="glyphicon glyphicon-refresh "></button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<textarea disabled class="custom-text-area">This is a notes app</textarea>
				<button title="archive the note" class="glyphicon glyphicon-saved "></button>
				<button title="new note" class="glyphicon glyphicon-plus-sign "></button>
				<button disabled title="delete this note" class="glyphicon glyphicon-minus-sign "></button>
				<button title="reset this note" class="glyphicon glyphicon-refresh "></button>
			</div>
		</div>


	</div>


	</body>

	<script src="js/vue.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script>
        new Vue({
            el:'#root',
            data:{

            },

            methods: {

            }
        })
        Vue.nextTick(function () {
            $('.col-xs-2').draggable({
//                cancel:"text"
			});
        });

	</script>
</html>