<!DOCTYPE html>

<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .col-xs-2{
            height: 200px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 40px;
            background: #c1e2b3;
        }
        .custom-text-area{
            width: 100%;
            height: 80%;
            margin-top:5px
        }
    </style>
</head>
<body>
<div class="container-fluid" id="MainContainer">
    <div class="row">
        <div class="col-xs-2">
            <textarea disabled class="custom-text-area">This is a notes app</textarea>
            <button title="archive the note" class="glyphicon glyphicon-saved "></button>
            <button @click="new_note" title="new note" class="glyphicon glyphicon-plus-sign "></button>
            <button disabled title="delete this note" class="glyphicon glyphicon-minus-sign "></button>
            <button title="reset this note" class="glyphicon glyphicon-refresh "></button>
        </div>
    </div>
    <div v-for="i in count" >
        <!--<div :id="i" >-->
        <div class="col-xs-2" :id="i" >

            <textarea v-model="notes[i-1]" :id=1000+i class="custom-text-area"></textarea>
            <button  @click="archive_note" title="archive the note" class="glyphicon glyphicon-saved "></button>
            <button  @click="new_note" title="new note" class="glyphicon glyphicon-plus-sign "></button>
            <button  @click="delete_note" title="delete this note" class="glyphicon glyphicon-minus-sign "></button>
            <button @click="reset(i)" title="reset this note" class="glyphicon glyphicon-refresh "></button>
        </div>
    </div>
    <!--<div v-for="note in notes">-->
        <!--{{ note }}-->
    <!--</div>-->
</div>



</body>
</html>

<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>

    var drag=Vue.nextTick(function () {
        $('.col-xs-2').draggable({
//            cancel:"t
        });
    })

    var vuedata=new Vue({
        el: '#MainContainer',

        data:{
            name: "this is new note",
            notes:[],
            flag:0,
            count:0,
            drag:drag
        },

        mounted:function(){
            Vue.nextTick(function () {
                $('.col-xs-2').draggable({
//                    cancel:"text"
                });
            })
        },

        methods:
            {
                new_note: function () {
                    this.count++;
                    this.flag=1;
                }
                ,
                archive_note:function(){
                    this.notes.push(this.name);
                },

                reset: function (id) {

                    this.notes[id-1]="";
                    $("#"+(1000+id).toString()).val(" ");
                },

                delete_note: function () {

                },

            },
    });


    Vue.component('mycomponent', {
        template: '<div class="row"><div class="col-xs-2"><textarea v-model="name" class="custom-text-area"></textarea><button  @click="archive_note" title="archive the note" class="glyphicon glyphicon-saved "></button><button  @click="new_note" title="new note" class="glyphicon glyphicon-plus-sign "></button><button  @click="delete_note" title="delete this note" class="glyphicon glyphicon-minus-sign "></button><button @click="reset" title="reset this note" class="glyphicon glyphicon-refresh "></button></div></div>',

        data: function(){
            return vuedata;
        }
    });


</script>
